@font-face {
  font-family: MuseoSansW05;
  font-weight: 300;
  src: url($museoSansW05300) format('woff2')
}

@font-face {
  font-family: MuseoSansW05;
  font-weight: 500;
  src: url($museoSansW05500) format('woff2')
}
@font-face {
  font-family: MuseoSansW05;
  font-weight: 700;
  src: url($museoSansW05700) format('woff2')
}

$border-color: #ebebeb;
$stackit-active: #e5edef;
$highlight-hover: #eee207;

body {
  font-family: MuseoSansW05;
  font-weight: 300;
}

.list-controls .combo-box .combo-box-header {
  border-color: $border-color;
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 100%;
}


#create-topic {
  color: var(--primary);
  background-color: var(--highlight);
}

#create-topic .btn:hover #create-topic .btn.btn-hover {
  background-color: $highlight-hover;
  color: var(--primary);
}

#create-topic .btn:hover .d-icon #create-topic .btn.btn-hover .d-icon {
  color: var(--primary);
  background-color: $highlight-hover;
}

.btn .d-icon {
  color: var(--primary);
}

.nav-pills > li a.active {
  color: var(--primary);
  background-color: $stackit-active;
}

tbody {
  border-color: $border-color;
}

tr {
  border-color: $border-color;
}

:root {
  --primary-high: $stackit-active;
}
