@font-face {
  font-family: MuseoSansW05;
  font-weight: 300;
  src: url($museoSansW05300) format('woff2')
}

@font-face {
  font-family: MuseoSansW05;
  font-weight: 500;
  src: url($museoSansW05500) format('woff2')
}
@font-face {
  font-family: MuseoSansW05;
  font-weight: 700;
  src: url($museoSansW05700) format('woff2')
}

$highlight-hover: #eee207;

body {
  font-family: MuseoSansW05;
  font-weight: 300;
}

.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--primary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
   border-color: var(--primary-low);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: var(--primary-low);
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 100%;
}

#create-topic {
  color: var(--primary);
  background-color: var(--highlight);
}

#create-topic > .btn:hover .btn.btn-hover {
  background-color: $highlight-hover;
  color: var(--primary);
}

.categories-list .category h3 .d-icon, .categories-list .category h4 .d-icon {
  color: var(--primary);
}

.categories-list .category .category-description {
  color: var(--primary);
}

.badge-wrapper.bullet span.badge-category {
  color: var(--primary);
}
.user-info .user-detail .username a {
  color: var(--primary);
}

.user-info .user-detail .name {
  color: var(--primary);
}

.names span a {
    color: var(--primary);
}

.menu-panel li a.widget-link:hover, .menu-panel li a.widget-link:focus, .menu-panel li a.categories-link:hover, .menu-panel li a.categories-link:focus, .menu-panel li.heading a.widget-link:hover, .menu-panel li.heading a.widget-link:focus, .menu-panel li.heading a.categories-link:hover, .menu-panel li.heading a.categories-link:focus {
  background-color: var(--quaternary);
}

.admin-controls .nav-pills > li a.active {
  background: var(--quaternary);
}

.admin-customize .themes-list-container .themes-list-item.selected {
  background-color: var(--quaternary);
  color: var(--primary);
}

.badge-wrapper.bullet span.badge-category {
  color: var(--primary);
}

.list-controls .combo-box .combo-box-header {
  border-color: var(--primary-low);
}

#create-topic .btn:hover .d-icon #create-topic .btn.btn-hover .d-icon {
  color: var(--primary);
  background-color: $highlight-hover;
}

.discourse-no-touch .btn:hover .d-icon, .discourse-no-touch .btn.btn-hover .d-icon {
  color: var(--primary);
}

.discourse-no-touch .btn:hover, .discourse-no-touch .btn.btn-hover {
  background: var(--tertiary-low);
  color: var(--primary);
}

.menu-panel li a.widget-link:hover, .menu-panel li a.widget-link:focus, .menu-panel li a.categories-link:hover, .menu-panel li a.categories-link:focus, .menu-panel li.heading a.widget-link:hover, .menu-panel li.heading a.widget-link:focus, .menu-panel li.heading a.categories-link:hover, .menu-panel li.heading a.categories-link:focus {
  background-color: var(-tertiary-low);
}


.nav-pills>li a.active {
  color: var(--primary);
}

.nav-pills>li>a:hover {
  color: var(--primary);
}

.btn .d-icon {
  color: var(--primary);
}

.btn-primary {
  background: var(--quaternary);
  color: var(--primary);
}

tbody {
  border-color: var(--primary-low);
}

tr {
  border-color: var(--primary-low);
}

.d-header-icons .d-icon {
  color: var(--header_primary);
}

.discourse-no-touch .d-header-icons .icon:hover .d-icon, .discourse-no-touch .d-header-icons .icon:focus .d-icon {
  color: var(--header_primary);
}

.discourse-no-touch .d-header-icons .icon:hover, .discourse-no-touch .d-header-icons .icon:focus {
  background-color: transparent;
}

div.menu-links-header button:hover, div.menu-links-header button:focus {
  background-color: var(--quaternary);
}

.user-menu .quick-access-panel li:hover, .user-menu .quick-access-panel li:focus {
  background-color: var(--quaternary);
}
